<?php
namespace cs;
Index::instance()->title_auto = false;
Page::instance()->title('ОПІРЗАГІН');
?><form action="https://docs.google.com/forms/d/1D8yVNsvloZVEgTgkP1X5Ngiq_wl8-SfyYD6VT5YYxK0/formResponse" method="POST" target="_blank" class="uk-form" style="width:800px;margin: 0 auto;">
	<h2 class="cs-center uk-margin-top">ОПІРЗАГІН</h2>
	<p>Яку роль можете виконати в мобільній групі<i style="color:#f00">*</i></p>
	<div>
		<label>
			<input type="radio" name="entry.1255184084" value="&#1042;&#1086;&#1076;&#1110;&#1081; &#1079; &#1074;&#1083;&#1072;&#1089;&#1085;&#1080;&#1084; &#1072;&#1074;&#1090;&#1086;" required checked>
			<span>Водій з власним авто</span>
		</label>
		<label>
			<input type="radio" name="entry.1255184084" value="&#1046;&#1091;&#1088;&#1085;&#1072;&#1083;&#1110;&#1089;&#1090;" required>
			<span>Журналіст</span>
		</label>
		<label>
			<input type="radio" name="entry.1255184084" value="&#1070;&#1088;&#1080;&#1089;&#1090;" required>
			<span>Юрист</span>
		</label>
		<label>
			<input type="radio" name="entry.1255184084" value="&#1042;&#1086;&#1083;&#1086;&#1085;&#1090;&#1077;&#1088; &#1077;&#1082;&#1110;&#1087;&#1072;&#1078;&#1091;" required>
			<span>Волонтер екіпажу</span>
		</label>
	</div>
	<p>
		<small>Мобільні групи в день виборів займаються моніторингом інформації з найближчих дільниць і виїжджають безпосередньо на місця задля запобігання порушенням</small>
	</p>

	<p>Ваше місто<i style="color:#f00">*</i></p>
	<p>
		<input required type="text" name="entry.750413575">
	</p>

	<p>Ваше ПІБ<i style="color:#f00">*</i></p>
	<p>
		<input required type="text" name="entry.502813891">
	</p>

	<p>Ваш номер мобільного телефону<i style="color:#f00">*</i></p>
	<p>
		<input required type="text" name="entry.2043040668">
	</p>
	<p>
		<small>Наш координатор вийде з Вами на зв'язок для організації Вашої діяльності в складі мобільної групи</small>
	</p>
	<input type="submit" name="submit" value="Надіслати" class="uk-button">
</form>
