.cs-home-events-stream-panel {
  background: #363e45;
  color: #fff;
  bottom: 0;
  font-size: 16px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 62px;
  width: 310px; }
  .cs-home-events-stream-panel > h2 {
    font-weight: bold;
    padding: 10px 20px;
    text-align: center; }
  .cs-home-events-stream-panel ul {
    list-style: none;
    padding: 0; }
    .cs-home-events-stream-panel ul li {
      cursor: pointer;
      display: block;
      padding: 5px 20px; }
      .cs-home-events-stream-panel ul li img {
        float: left;
        margin: 6px 5px 0 0; }
      .cs-home-events-stream-panel ul li h2 {
        font-size: 20px;
        margin-bottom: 0; }
        .cs-home-events-stream-panel ul li h2 span {
          font-size: 16px; }
      .cs-home-events-stream-panel ul li time {
        color: #717477; }
    .cs-home-events-stream-panel ul li:after {
      clear: both;
      content: '';
      display: block; }
    .cs-home-events-stream-panel ul li:hover,
    .cs-home-events-stream-panel ul .active {
      background: #2a3036; }
    .cs-home-events-stream-panel ul .active:hover {
      background: #1d2226; }
