.cs-home-settings-coordinator {
	background : #363e45;
	color      : #fff;
	bottom     : 0;
	font-size  : 16px;
	overflow-x : hidden;
	overflow-y : auto;
	position   : absolute;
	right      : 0;
	top        : 62px;
	width      : 310px;

	.cs-home-settings {
		background    : #363E45;
		border-radius : 10px 0 0 10px;
		cursor        : pointer;
		font-size     : 48px;
		padding       : 15px 0 15px 15px;
		position      : fixed;
		right         : 310px;
		top           : 110px;
		z-index       : 1000;
	}

	> h2 {
		font-weight : bold;
		padding     : 10px 20px;
		text-align  : center;
	}

	.uk-button-dropdown {
		padding : 0 20px 10px;

		button {
			height     : 36px;
			text-align : left;
			width      : 270px;

			.uk-icon-caret-down {
				float      : right;
				margin-top : 5px;
			}
		}

		.uk-dropdown {
			left  : 20px;
			top   : -49px;
			width : 270px;
		}
	}

	.uk-button-dropdown + div {
		height     : inherit;
		overflow-x : auto;
		width      : inherit;

		ul {
			list-style : none;
			padding    : 0;

			li {
				cursor  : pointer;
				display : none;
				height  : 65px;
				padding : 5px 20px;

				img {
					float  : left;
					margin : 6px 5px 0 0;
				}

				h2 {
					font-size     : 20px;
					margin-bottom : 0;

					span {
						font-size : 16px;
					}
				}
			}

			li:after {
				clear   : both;
				content : '';
				display : block;
			}

			li:hover,
			.active {
				background : #2a3036;
			}

			.active:hover {
				background : #1d2226;
			}
		}
	}

	.all li,
	.confirmed .confirmed,
	.assigned .assigned,
	.unconfirmed .unconfirmed {
		display : block !important;
	}

	.assigned {
		color   : #ff8b00;
	}

	.confirmed {
		color   : #f74138;
	}
}
