.cs-home-settings-panel {
  background: #293137;
  color: #fff;
  bottom: 0;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 62px;
  width: 310px; }
  .cs-home-settings-panel > h2 {
    font-weight: bold;
    padding: 10px 20px;
    text-align: center; }
  .cs-home-settings-panel .uk-button-dropdown {
    padding: 0 20px 10px; }
    .cs-home-settings-panel .uk-button-dropdown button {
      height: 36px;
      text-align: left;
      width: 270px; }
      .cs-home-settings-panel .uk-button-dropdown button .uk-icon-caret-down {
        float: right;
        margin-top: 5px; }
    .cs-home-settings-panel .uk-button-dropdown .uk-dropdown {
      left: 20px;
      top: -19px;
      width: 270px; }
  .cs-home-settings-panel hr {
    border-color: #21292f; }
  .cs-home-settings-panel > ul {
    list-style: none;
    padding-left: 20px; }
    .cs-home-settings-panel > ul li {
      padding: 5px 0; }
      .cs-home-settings-panel > ul li span {
        padding-left: 5px; }
