.cs-home-settings-panel {
	background : #363e45;
	color      : #fff;
	bottom     : 0;
	font-size  : 16px;
	overflow-x : hidden;
	overflow-y : auto;
	position   : absolute;
	right      : 0;
	top        : 62px;
	width      : 310px;

	> h2 {
		font-weight : bold;
		padding     : 10px 20px;
		text-align  : center;
	}

	> ul {
		list-style : none;
		padding    : 0;

		li {
			cursor     : pointer;
			padding : 5px 20px;

			span {
				padding-left : 5px;
			}
		}

		h2 {
			margin-bottom : 0;
			text-align    : center;
		}

		li:hover,
		.active {
			background : #2a3036;
		}

		.active:hover {
			background : #1d2226;
		}
	}
}
