.cs-home-video-social-links > * {
  border: solid 2px #b1b1b1;
  border-radius: 14px;
  box-sizing: border-box !important;
  color: #B1B1B1;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  margin: 2px;
  padding-top: 5px;
  text-align: center;
  width: 28px; }
  .cs-home-video-social-links > *:hover {
    border-color: #7C7C7C;
    color: #7C7C7C; }
