body > header {
  /*.cs-home-settings:before {
  	background-image : url(../img/setting.png);
  }*/ }
  body > header .cs-home-logo {
    padding: 0 310px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 100%; }
    body > header .cs-home-logo > div {
      display: inline-block;
      text-align: left;
      vertical-align: middle; }
      body > header .cs-home-logo > div:nth-of-type(-n+2) {
        padding-left: 15px; }
    body > header .cs-home-logo .hot-line {
      font-size: 14px;
      line-height: 14px;
      margin-top: -10px; }
  body > header button[class*=cs-home-],
  body > header button[class*=cs-home-]:hover,
  body > header button[class*=cs-home-]:focus {
    background: #00579d;
    color: #fff;
    border-radius: 0;
    height: 62px;
    overflow-y: auto;
    padding: 0 25px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 310px; }
  body > header button[class*=cs-home-]:hover {
    background: #004f8c; }
  body > header .cs-home-add {
    left: 0; }
  body > header .cs-home-sign-in,
  body > header .cs-home-sign-out {
    padding: 10px !important;
    right: 0;
    width: auto !important; }
  body > header .cs-home-donate,
  body > header .cs-home-donate:focus {
    background: #0067b6 !important;
    right: 71px;
    width: 239px !important; }
    body > header .cs-home-donate:hover,
    body > header .cs-home-donate:focus:hover {
      background: #005ea6 !important; }
  body > header .cs-home-add:before,
  body > header .cs-home-sign-in:before,
  body > header .cs-home-sign-out:before {
    background: url(../img/add.png) no-repeat;
    content: '';
    display: inline-block;
    height: 44px;
    vertical-align: middle;
    width: 44px; }
  body > header .cs-home-sign-in:before {
    background-image: url(../img/sign-in.png); }
  body > header .cs-home-sign-out:before {
    background-image: url(../img/sign-out.png); }

.ymaps-image {
  background-size: auto !important; }
