body > header button[class*=cs-home-],
body > header button[class*=cs-home-]:hover {
  background: #0067b6;
  color: #fff;
  border-radius: 0;
  height: 62px;
  padding: 0 25px;
  position: absolute;
  text-shadow: none; }
body > header .cs-home-chat,
body > header .cs-home-settings {
  background: #00579d !important;
  padding: 0 5px !important; }
body > header .cs-home-chat:before,
body > header .cs-home-settings:before {
  background: url(../img/chat.png) no-repeat;
  content: '';
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  width: 44px; }
body > header .cs-home-settings:before {
  background-image: url(../img/setting.png); }
body > header .cs-home-add {
  left: 61px; }
body > header .cs-home-sign-in,
body > header .cs-home-sign-out {
  right: 61px; }
body > header .cs-home-settings {
  right: 0; }
body > header .cs-home-add:before,
body > header .cs-home-sign-in:before,
body > header .cs-home-sign-out:before {
  background: url(../img/add.png) no-repeat;
  content: '';
  display: inline-block;
  height: 44px;
  margin-right: 15px;
  vertical-align: middle;
  width: 44px; }
body > header .cs-home-sign-in:before {
  background-image: url(../img/sign-in.png); }
body > header .cs-home-sign-out:before {
  background-image: url(../img/sign-out.png); }

.cs-home-left-side,
.cs-home-right-side {
  background: #293137;
  bottom: 0;
  display: none;
  opacity: .95;
  position: absolute;
  top: 62px;
  width: 310px; }

.cs-home-left-side {
  left: 0; }

.cs-home-right-side {
  right: 0; }
