<?php
namespace cs;
Index::instance()->title_auto = false;
Page::instance()->title('ІНСТРУКЦІЯ');
?>
<p>Участь у проекті можуть взяти:</p>

<p>&nbsp;</p>

<ul>
	<li>
	<p>виборець</p>
	</li>
	<li>
	<p>офіційний спостерігач від OPIR.ORG</p>
	</li>
	<li>
	<p>офіційний спостерігач від іншої Громадської Організації</p>
	</li>
	<li>
	<p>офіційний спостерігач від політичної партії</p>
	</li>
	<li>
	<p>журналіст</p>
	</li>
</ul>

<p>&nbsp;</p>

<p>Для всіх</p>

<p>&nbsp;</p>

<ol>
	<li>
	<p>Завантажте наш додаток opir.org на свій смартфон.</p>
	</li>
	<li>
	<p>Додаток для Windows Phone буде доступний 20го жовтня. iOS та Android оновлення будуть доступні 22го жовтня.</p>
	</li>
	<li>
	<p>Запустіть додаток та синхронізуйте його із своїм facebook акаунтом</p>
	</li>
	<li>
	<p>Перегляньте нашу минулорічну <a href="https://www.dropbox.com/s/9d8hjbpdiiosarv/%D0%97%D0%BD%D1%96%D0%BC%D0%BE%D0%BA%20%D0%B5%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202015-10-09%2012.50.46.png?dl=0">інструкцію</a> із користування додатком та веб платформою</p>
	</li>
	<li>
	<p>Перевірте на сайті opir.org чи правильно розміщено дільницю, на котрій Ви плануєте вести спостереження, в разі виявлення помилки - напишіть нам на <a href="mailto:info@opir.org">info@opir.org</a> бажано із прикріпленим скріншотом того, де має знаходитись дільниця</p>
	</li>
	<li>
	<p>Якщо Ви плануєте вести стрім-трансляцію з дільниці - зареєструйте заздалегідь свій аккаунт на такий ресурсах як <a href="http://www.ustream.tv">Ustream</a> або власний канал на <a href="https://www.youtube.com">Youtube</a>. Перевірте, щоби у вас запрацював стрім.</p>
	</li>
	<li>
	<p>Забезпечте себе мобільним зарядним пристроєм. В день виборів активне спостереження і, зокрема, ведення стрім-трансляції активно використовує заряд телефону. Тому, щоби бути ефективним спостерігачем - потрібно мати додаткові можливості із підзарядки смартфону.</p>
	</li>
	<li>
	<p>Оновіть всі додатки напередодні виборів.</p>
	</li>
</ol>

<p>&nbsp;</p>

