<?php
namespace cs;
Index::instance()->title_auto = false;
Page::instance()->title('ІНСТРУКЦІЯ');
?>
<head>
	<style type="text/css">
   ta1 {
    text-align: left;
   }
  </style>
</head>
<p><strong>Участь у проекті можуть взяти:</strong></p>

<ul>
	<li>
	<p>виборець</p>
	</li>
	<li>
	<p>офіційний спостерігач від OPIR.ORG</p>
	</li>
	<li>
	<p>офіційний спостерігач від іншої Громадської Організації</p>
	</li>
	<li>
	<p>офіційний спостерігач від політичної партії</p>
	</li>
	<li>
	<p>журналіст</p>
	</li>
</ul>

<p><strong>Для всіх</strong></p>

<ol>
	<li>
	<p>Завантажте наш додаток opir.org на свій смартфон.</p>
	</li>
	<li>
	<p>Додаток для Windows Phone буде доступний 20го жовтня. iOS та Android оновлення будуть доступні 22го жовтня.</p>
	</li>
	<li>
	<p>Запустіть додаток та синхронізуйте його із своїм facebook акаунтом</p>
	</li>
	<li>
	<p>Перегляньте нашу минулорічну <a href="https://www.youtube.com/watch?v=q49Bq8GC1L8" style="color:#333366">інструкцію</a> із користування додатком та веб платформою</p>
	</li>
	<li>
	<p>Перевірте на сайті opir.org чи правильно розміщено дільницю, на котрій Ви плануєте вести спостереження, в разі виявлення помилки - напишіть нам на <a href="mailto:info@opir.org" style="color:#333366">info@opir.org</a> бажано із прикріпленим скріншотом того, де має знаходитись дільниця</p>
	</li>
	<li>
	<p>Якщо Ви плануєте вести стрім-трансляцію з дільниці - зареєструйте заздалегідь свій аккаунт на такий ресурсах як <a href="http://www.ustream.tv" style="color:#333366">Ustream</a> або власний канал на <a href="https://www.youtube.com" style="color:#333366">Youtube</a>. Перевірте, щоби у вас запрацював стрім.</p>
	</li>
	<li>
	<p>Забезпечте себе мобільним зарядним пристроєм. В день виборів активне спостереження і, зокрема, ведення стрім-трансляції активно використовує заряд телефону. Тому, щоби бути ефективним спостерігачем - потрібно мати додаткові можливості із підзарядки смартфону.</p>
	</li>
	<li>
	<p>Оновіть всі додатки напередодні виборів.</p>
	</li>
</ol>

<p>&nbsp;</p>

<p><strong>Для виборців</strong></p>

<ul>
	<li>Обов&#39;язково сходіть на вибори. Якщо не хочете ні за кого віддавати свій голос - поставте галочку &quot;Проти всіх&quot;. Але покажіть, що це Ваш вибір.</li>
	<li><strong>Стаття 71 Конституції України.</strong>&nbsp;Вибори до органів державної влади та органів місцевого самоврядування є вільними і відбуваються на основі загального, рівного і прямого виборчого права шляхом таємного голосування.Виборцям гарантується вільне волевиявлення.</li>
	<li>Під час перебування на дільниці або поряд з нею на вулиці - фіксуйте фото, відео та відео-стрім порушень, фальсифікацій та підкупів, свідком котрих Ви стали в процесі Вашої явки до дільниці для персонального голосування.</li>
</ul>

<p><strong>Для журналістів</strong></p>

<ul>
	<li>В процесі професійної діяльності з висвітлення будь яких процесів пов&rsquo;язаних з виборами - фіксуйте фото, відео та відео-стрім порушень, фальсифікацій та підкупів, свідком котрих Ви стали.</li>
	<li>Долучайтеся до мобільних груп (ОПІРЗАГІН).</li>
</ul>

<p><strong>Для спостерігачів</strong></p>

<ta1><p>Проект розраховано на те, що у одній Територіальній Дільниці будуть 2 спостерігачі.</p>

<p>Під час ведення спостереження на дільниці принципово важливо виконати наступне:</p>

<ul>
	<li>
	<p>вдень під час голосування важливо не втрачати з поля зору всі урни на дільниці - це не дасть можливості зробити вкидування бюлетенів.</p>

	<ul>
		<li>
		<p>в разі можливості стрімити - радимо по церзі тримати під відео потоком всі урни, по черзі заряджати відповідно зарядні пристрої&nbsp;&nbsp; &nbsp;</p>
		</li>
	</ul>
	</li>
</ul>

<ul>
	<li>
	<p>після закриття дільниці важливо тримати в полі зору процес сортування бюлетенів, щоби не допустити підтасовку з однієї відсортированої стопки бюлетенів до іншої</p>

	<ul>
		<li>
		<p>в разі можливості стрімити - радимо одному спостерігачу тримати загальний план, де видно всі стопки, іншому - ближче до столу сортування</p>
		</li>
	</ul>
	</li>
	<li>
	<p>під час заповнення протоколу з дільниці - тримати в полі зору протокол і контролювати його коректне заповнення відповідно до відсортированих стопок бюлетенів (по кількості), другий спостерігач слідкує за правильним підрахунком кількості бюлетенів в стопках, перший - за коректним заповненням протоколу</p>

	<ul>
		<li>
		<p>разі можливості стрімити - один спостерігач постійно стрімить згори над протоколом, щоби контролювати кожний крок його заповнення, інший спостерігач - стрімить загальний план столу з ракурсу тієї стопки бюлетенів, котру зараз рахують - це дає можливість проконтролювати підрахунок кількість бюлетенів в стопці та на загальному плані контролювати неможливість підтасовки відсортованих бюлетенів з однієї стопки в іншу</p>
		</li>
	</ul>
	</li>
	<li>
	<p>контролювати коректне пакування бюлетнів та протоколу для відправлення в ОВК</p>
	</li>
	<li>
	<p>бажано дочекатись сигналу з ОВК до голови ТВК, що протокол прийнято - це буде свідчити, що корективи чи перерахунок не буде здійснено</p>
	</li>
	<li>
	<p>важливо - зафіксувати фінально заповнений протокол з кожної дільниці в стрім-відео або фото</p>
	</li>
</ul></ta1>

<p><strong>Зареєстуватись офіційним спостерігачем від ГО ОПІРОРГ</strong></p>

<ta1><p>Щоби стати офіційним спостерігачем від нашої Громадської Організації зробіть наступні прості кроки:</p>
<p>&bull; заповніть <a href="https://docs.google.com/forms/d/1rByudMwLGZZYXnGnuVLAWh2tu4023SF0vAFwOt8Ci_4/viewform" style="color:#333366">цю форму</a> достовірною інформацією щодо Вас (потенційного спостерігача)</p>
<p>&bull; ми надішлемо Вам на фізичну поштову скриньку пакет документів, необхідних для реєстрації, серед яких буде Подання про реєстарцію офіційного спостерігача, Копія рішення ЦВК про дозвіл для ГО ОПІРОРГ мати офіційних спостерігачів на місцевих виборах та Заяву про згоду бути офіційним спостерігачем від ГО ОПІРОРГ</p>
<p>&bull; власне Заяву маєте заповнити Ви особисто і підписати</p>
<p>&bull; ці три документи: Подання, Заяву та Копію Рішення ЦВК та ксерокопію 1ї та 2ї сторінки Вашого паспорта Ви маєте подати до відповідної територіальної виборчої комісії, де плануєте бути спостерігачем не пізніше як 20го жовтня 2015го року</p>
<p>&bull; не пізніше як за 3 дні до виборів Ви отримаєте рішення про надання статусу або відмову. Відповідно до Закону: &quot;Стаття 66, пункт 4. Офіційним спостерігачем від громадської організації може бути громадянин України, який має право голосу. Не може бути офіційним спостерігачем від громадської організації член виборчої комісії, посадова особа органів виконавчої влади або суду, правоохоронних органів, органів влади Автономної Республіки Крим чи органів місцевого самоврядування, військовослужбовець чи особа, яка проходить альтернативну (невійськову службу)&quot;.</p>
<p>&bull; ці три документи: Подання, Заяву та Копію Рішення ЦВК та ксерокопію 1ї та 2ї сторінки Вашого паспорта Ви маєте подати до відповідної територіальної виборчої комісії, де плануєте бути спостерігачем не пізніше як 20го жовтня 2015го року</p>
<p>&bull; не пізніше як за 3 дні до виборів Ви отримаєте рішення про надання статусу або відмову. Відповідно до Закону: &quot;Стаття 66, пункт 4. Офіційним спостерігачем від громадської організації може бути громадянин України, який має право голосу. Не може бути офіційним спостерігачем від громадської організації член виборчої комісії, посадова особа органів виконавчої влади або суду, правоохоронних органів, органів влади Автономної Республіки Крим чи органів місцевого самоврядування, військовослужбовець чи особа, яка проходить альтернативну (невійськову службу)&quot;.</p></ta1>
